{% extends "::base.html.twig" %}

{% block title %}Edit - {{ blog_post.id }} {% endblock %}

{% block body %}
<h1>Edition id:{{ blog_post.id }}</h1>
{{ form(form) }}
{% if is_granted('ROLE_ADMIN') %}
    {{ form(form_delete) }}
{% endif %}
{% endblock %}
