{% extends "::base.html.twig" %}

{% block title %}My Blog{% endblock %}

{% block body %}
<h1>My Blog</h1>
<ul>
{% for post in blog_posts %}
<li>{{ post.id }} - <a href="{{ path('blog_post',{id: post.id}) }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
<a href="{{ path('blog_new') }}">Nouveau post</a>
{% endblock %}
