{% extends "::base.html.twig" %}

{% block title %}Blog - {{ blog_post.title }}{% endblock %}

{% block body %}
<h1>{{ blog_post.title }}</h1>
<span>{{ blog_post.author }} Publié le {{ blog_post.createAt|date("d/m/Y h:i:s") }} 
{% if blog_post.updatedAt %}
    Maj le {{ blog_post.updatedAt|date("d/m/Y h:i:s") }}
{% endif %}
</span>
<p>{{ blog_post.content }}</p>
{% if is_granted('ROLE_USER')%}
<a href="{{ path('blog_edit', {id: blog_post.id}) }}">Edit</a>
{% endif %}
<h2>Commentaires</h2>
{% for comment in blog_post.comments %}
<div>
    <span>{{ comment.author }} - {{ comment.createdAt|date("d/m/Y h:i:s")}}</span>
    <p>{{ comment.content }}</p>
</div>
{% endfor %}
{{ form(comment_form)}}
{% endblock %}
