<header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Un Site</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="{{ path('home')}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('blog_home')}}">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('url')}}">Page URL</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ path('logout')}}">Logout</a>
      </li>
      <li>
      {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        Connecté en tant que {{ app.user.username }}
      {% endif %}
      </li>
    </ul>
  </div>
</nav>
</header>