<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        {% stylesheets 
            'vendor/bootstrap/css/bootstrap.css'
            'css/*'
            filter='cssrewrite'
            output='compiled/styles.css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
         {% endstylesheets %}

         {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="container">
        {% include('partials/header.html.twig') %}
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}

<ul>
        {% for postVisited in app.session.get('lastVisitedPosts') %}
            <li>{{ postVisited.1|date }} - {{ postVisited.0 }}</li>
        {% endfor %}
</ul>
        {% block body %}{% endblock %}
        </div>

        {% javascripts 
            'vendor/bootstrap/js/bootstrap.bundle.js'
            'js/*'
            output='compiled/app.js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
