{% extends 'base.html.twig' %}
{% block title %}
Home secondaire
{% endblock %}
{% block body %}
    {% if error %}
        {{ error }}
    {% else %}
        Hello {{ name }} {{ lastName }} !
    {% endif %}
{% endblock %}