{% extends 'base.html.twig' %}
{% block body %}
    <a href="{{ path('home') }}">Home {{ path('home') }}</a><br>
    <a href="/home">Lien statique vers action /home</a><br>
    <a href="{{ homeUrl }}">Home {{ homeUrl }}</a><br>
    <hr>
    <a href="{{ path('homeSlug',{"name":"unprenom","lastName":"unnom"}) }}">
    HomeSlug {{ path('homeSlug',{"name":"unprenom","lastName":"unnom"}) }}
    </a><br>
    <a href="{{ homeSlug }}">HomeSlug {{ homeSlug }}</a><br>
    <hr>
    <a href="{{ urlAbsolute }}">Url page {{ urlAbsolute }} </a><br>
    <a href="{{ url('url') }}">Url page {{ url('url') }}</a>
{% endblock %}